body{
  background-color: #9CAFB7;
}
p{
  font-weight: bold;
  font-size: 18px;
}
.panel{
  background-color: #CAE5FF;
}


#c-sharp,#java,#ruby,#css,#php {
  display : none;
}

.well{
  background-color: #A2E8DD;
}
