.img-answers {
	height: 200px;
	width: 200px;
}
.btn-info {
	font-size: 1em;
	transition: all 0.5s;
	width: 12.5%;
	background-color: #00b3b4;
}
#try-again {
	font-size: 2em;
	transition: all 0.5s;
	width: 12.5%;
	background-color: #00b3b4;
	color: #fff;
}
#question-form {
	font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
}
#name {
	font-size: 23px;
}
.jumbo-text {
	font-size: 20px;
}
#answer-div {
	display: none;
	font-family: 'Josefin Sans', sans-serif;
	padding: 50px;
}
#answer-div-header {
	font-weight: 400;
}
.tracks {
	display: none;
}
.tracks p {
	text-align: justify;
	font-size: 25px;
}
.jumbotron {
	height: 100vh;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	padding: 200px;
	background-image: url("../img/background3.jpg");
	background-size: cover;
	font-size: 33px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	font-weight: 1000;
	line-height: 3em;
	-webkit-text-fill-color: black;
}
